@model Registro6.Models.OrdenCompraImp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrdenCompraImp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoOCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoOCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroOCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroOCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCambio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodInterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodInterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCotizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCotizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CondicionPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CondicionPago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOrdenCompraImp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
