@using CyanCMS.Utils.Response;
@using CyanCMS.Domain.Dto;
@model DataPaginationRp<CompanyDto>

@{
    ViewData["Title"] = "Company";
}

<div class="d-flex flex-row justify-content-between">
    <h2 class="">Gestion de Compañias</h2>   
    <button id="btnNewCompany" class="" >Nueva Compañia</button>
</div> 

<div class="d-flex flex-row mt-2">
    <form asp-controller="Company" asp-action="Index" method="post">
        <div class="d-flex flex-row">
            <input type="text" name="busqueda" placeholder="Nombre de compañia..." class="ms-2" />
            <span class="row">
                <input type="checkbox" name="periodo" class="ms-4" />
                Compañias activas
            </span>
            <button id="btnSearch" type="submit">Buscar</button>
        </div>
    </form>
</div>

<!-- Table -->
<div class="table-responsive mt-3" style="width:100%">
    <table class="table table-bordered table-hover">
        <thead id="Thead" style="background-color:#87CEFA">
            <tr>
                <th>   </th>
                <th style="cursor:pointer">
                    Id
                </th>
                <th>
                    Nombre 
                </th>
                <th>
                    Direccion
                </th>
                <th >
                    Telefono
                </th>
                <th>
                    Correo
                </th>
                <th>
                   Logo
                </th>
                <th>
                    Activo
                </th>
                <th>
                    
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Elements)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Detalles", "Evaluacion", "OrdenCompra", new { item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>                                      
                </tr>              
            }
            @if (Model.TotalCount == 0)
            {
                <tr>
                    <td colspan="10" class="text-center"> Sin registros !!</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_Pagination" />

<div class="modal fade " id="createCompanyEventModal" tabindex="-1" role="dialog" aria-labelledby="createCompanyEventModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title titleModalCompany"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <form id="formCompanyCreate">
                            <div>
                                <input type="text" id="Id"  hidden />
                            </div>
                            <div class="d-flex flex-row">
                                <label style="font-weight: bold; width: 100px">Nombre:</label>
                                <input type="text" class="form-control " name="Name" />
                            </div><br />
                            <div class="d-flex flex-row">
                                <label style="font-weight: bold; width: 100px">Direccion:</label>
                                <input type="text" class=" form-control" name="Adress" />
                            </div><br />
                            <div class="d-flex flex-row">
                                <label style="font-weight: bold; width: 100px">Telefono:</label>
                                <input type="text" class="form-control" name="PhoneNumber" />
                            </div><br />
                            <div class="d-flex flex-row">
                                <label style="font-weight: bold; width: 100px">Email</label>
                                <input type="date" class="form-control" name="Email" />
                            </div><br />
                            
                        </form>
                    </div><br />

                </div>
                <p id="messageError" style="color:red" hidden></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btn-md" id="btnCreateCompanyEvent">Registrar</button>
                <button type="button" class="btn btn-primary btn-md" id="btnUpdateCompanyEvent">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="deleteCompanyEventModal" tabindex="-1" role="dialog" aria-labelledby="deleteCompanyEventModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Vigencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="CompanyDeleteId" hidden />
                <div class="mt-2">
                    <label>¿ Estas seguro de eliminar la vigencia seleccionada ? </label><br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-md" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-md" id="btndeleteCompanyEvent">Confirmar</button>
            </div>
        </div>
    </div>
</div>